

.footer-wrap .row-1 .line{
    border-top: 1px solid #005F85;
}
.footer-wrap .row-2{
    margin: 29px 0 28px 0;
}
.footer-wrap .row-3 .col-1 p{
    color: #005F85;
    font-size: 16px;
}
.footer-wrap .row-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-wrap .row-3 .col-2 ul{
    list-style-type: none;
}
.footer-wrap .row-3 .col-2 li{
    float: left;
    margin-left: 40px;
}
.footer-wrap .row-3 .col-2 li svg{
    margin-left: 20px;
}
.footer-wrap a{
    font-size: 16px;
    text-decoration: none;
    color: #D83F22; ;
}
.footer-wrap .row-3 .col-2 li .underline a:hover{
    text-decoration: underline;
}

