.news-block .title { 
    margin-bottom: 40px;
}
.news-block .title h3 {
    font-size: 38px;
}
.news-block .date p {
    font-size: 18px;
}
.news-block .date .divider {
    margin: 10px 0px;
    width: 184px;
    height: 1px;
    background-color: #005F86;
}

.news-block .news-details {
    padding-top: 10px;
    margin-bottom: 40px;
    width: 488px;
}

.news-block .news-details a {
    font-size: 22px;
    line-height: 32px;
    text-decoration: underline;
    color: #D83F22;
}

.news-block .news-details a:hover {
    color: #083657;
}

/* for news page */
.news-page{
    width: 895px;
}
.news-page .news-block .news-details {
    padding-top: 10px;
    margin-bottom: 20px;
    width: 895px;
}
.news-page .news-discription{
    margin-bottom: 30px;
}
.news-page .buttons{
    margin-bottom: 80px;
}